<!DOCTYPE html>
<html>
  <head>
    <title>Node.js Simple CRUD app</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome</h1>
    <p>Welcome to Node.js Simple CRUD with Express.js and MySQL.</p>
  </body>
</html>
